@import url("bas/style.css");


body {
  background-color: var(--DM-primary-bg-color);
  color: var(--DM-text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
main {
  display: grid;
  background-color: var(--DM-secondary-bg-color);
  margin: auto;
  width: 60vw;
  height: 100vh;
}